.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  z-index: 2;
}

.app-sidenav-container {
  flex: 1;
  min-height: 600px;
}

h1.app-app-name {
  margin-left: 8px;
}

/* Sidebar Styles */
.app-sidebar {
  width: 300px;
  background-color: var(--app-sidebar-bg);
  color: var(--app-text-color);
  border-right: 1px solid var(--app-border-color);
}

/* Toolbar Styles */
.app-toolbar {
  background-color: var(--app-toolbar-bg) !important;
  color: var(--app-toolbar-text) !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  /* Subtle shadow */
  border-bottom: 1px solid var(--app-border-color);
}

.spacer {
  flex: 1 1 auto;
}

/* Make search icon distinct */
button[aria-label="search icon"] {
  color: #00695c;
  /* Accent color */
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  letter-spacing: -0.025em;
}