<div *ngIf="currentContext.objectName; else welcomeMsg">
    <h1>{{currentContext.objectType}} - {{currentContext.objectName}}</h1>    
    <mat-accordion multi="true" *ngIf="objectDetails">
        <ng-container *ngFor="let property of objectDetails">
            <ng-container *ngIf="property.rows?.length > 0">
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{property.title}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{property.description}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>                    
<pre *ngIf="property.title == 'Source'" id="source-code">
<mat-slide-toggle *ngIf="property.rows[0]['Line']" (change)="showLineNumbers = !showLineNumbers" [checked]="showLineNumbers" class="toggle">Show Line Numbers</mat-slide-toggle>
<code highlightChildren="span" >
<ng-container *ngFor="let source of property.rows" ><a [hidden]="!showLineNumbers" class="line">{{source.Line}}</a><span [textContent]="source.Text"></span></ng-container>
</code></pre>
                    <table mat-table *ngIf="property.title != 'Source'" [dataSource]="property.rows">
                        <ng-container matColumnDef="{{dColumn}}" *ngFor="let dColumn of property.display">
                            <th mat-header-cell *matHeaderCellDef> {{dColumn}}</th>
                            <td mat-cell *matCellDef="let element">
                                <ng-container *ngIf="property.link == dColumn">
                                    <a routerLink="/database/{{currentContext.endpoint}}/{{element['LINK']}}">{{element[dColumn]}}</a>
                                </ng-container>
                                <ng-container *ngIf="property.link != dColumn">{{element[dColumn]}}</ng-container>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="property.display"></tr>
                        <tr mat-row *matRowDef="let row; columns: property.display;"></tr>
                    </table>
                </mat-expansion-panel>
            </ng-container>
        </ng-container>
    </mat-accordion>


</div>
<ng-template #welcomeMsg>
    <h1>Oracle Data Dictionary Browser</h1>
    <ng-container *ngIf="!currentContext.endpoint">
        <h3>Select a Database</h3>
        <p>Use the Database dropdown to select a database</p>
    </ng-container>
    <ng-container *ngFor="let ep of endpointList.databases">
        <ng-container *ngIf="ep.endpoint == currentContext.endpoint">
            <h3>{{ep.endpoint}} - {{ep.connectString}}</h3>
            <p *ngIf="ep.description">{{ep.description}}</p>
            <div *ngFor="let schema of ep.schemas">
                <ng-container *ngIf="!currentContext.owner || currentContext.owner == schema.owner">
                    <h5>Schema: {{schema.owner}}</h5>
                    <table mat-table [dataSource]="schema.object_types">
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef>Object Type</th>
                            <td mat-cell *matCellDef="let element">
                                <a routerLink="/database/{{ep.endpoint}}/{{schema.owner}}/{{element.type}}">
                                    {{element.type}}
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="count">
                            <th mat-header-cell *matHeaderCellDef>Object Count</th>
                            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="schemaColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: schemaColumns;"></tr>
                    </table>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
    <h5 *ngIf="currentContext.objectType">Object Type: {{currentContext.objectType}}</h5>
</ng-template>