table {
    width: 100%;
  }
  .hljs {
    padding: 0;
  }

#source-code { padding-left: 40px; position: relative; }
#source-code .line { position: absolute; left: 0; width: 30px; text-align: right; }
#source-code .toggle { position: absolute; left: 0; text-align: right; }

.homepage-banner {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/datamodel.jpg);
    /* Set a specific height */
    height: 180px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
}

.homepage-banner h1 {  
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;  
}