version: "3.3"
services:
  reverseproxy:
    build: ./proxy-config
    ports:
      - 80:80
  visapi:
    hostname: visapi
    depends_on:
      - reverseproxy
    build: ./api-server
    ports:
      - "3000:3000"
    volumes:
      - ./api-server/config:/visulate-server/config
      - visulate-downloads:/visulate-server/downloads
    environment:
      - GOOGLE_AI_KEY=${GOOGLE_AI_KEY}
      - CORS_ORIGIN_WHITELIST=${CORS_ORIGIN_WHITELIST}
      - VISULATE_AGENT_URL=http://ai-agent:10000/agent/generate
      - COMMENT_GENERATOR_URL=http://ai-agent:10003/agent/generate
      - INVALID_OBJECTS_URL=http://ai-agent:10006/agent/generate
      - APP_DEVELOPER_URL=http://ai-agent:10007/agent/generate
      - TEST_DATA_GENERATOR_URL=http://ai-agent:10008/agent/generate
  visui:
    hostname: visui
    depends_on:
      - reverseproxy
    build: ./ui
    expose:
      - "80"
  vissql:
    hostname: vissql
    depends_on:
      - reverseproxy
    build: ./query-engine
    expose:
      - "5000"
    volumes:
      - ./query-engine/sql2csv/config:/query-engine/sql2csv/config
  ai-agent:
    hostname: ai-agent
    build: ./ai-agent
    depends_on:
      - reverseproxy
      - vissql
      - visapi
    ports:
      - "10000-10008:10000-10008"
    volumes:
      - visulate-downloads:/app/downloads
    environment:
      - GOOGLE_AI_KEY=${GOOGLE_AI_KEY}
      - GOOGLE_API_KEY=${GOOGLE_AI_KEY}
      - VISULATE_BASE=http://reverseproxy

volumes:
  visulate-downloads: