openapi: 3.0.1
info:
  title: Visulate for Oracle
  version: 1.0.0
  description: >-
    Visulate for Oracle is an Oracle data dictionary browsing service to help
    data engineers understand the structure and dependencies in Oracle databases
    that they plan to migrate to the Cloud.
  contact:
    name: Peter Goldthorp
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://demo.visulate.net'
  - url: 'http://localhost:3000'
paths:
  /api/:
    summary: Database endpoints
    get:
      summary: List database endpoints
      parameters:
        - in: query
          name: filter
          description: object_name filter
          required: false
          schema:
            type: string
            example: dba_*
      description: >-
        List each registered database along with a count of object types by
        schema
      operationId: ''
      responses:
        200:
          description: List of registered databases
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoints: 
                    type: array
                    items: 
                      type: object
                      properties:
                        endpoint:
                          type: string
                          example: oracle18XE
                        description:
                          type: string
                          example: An Oracle XE database
                        connectString:
                          type: string
                          example: db.visulate.net:1521/XEPDB1
                        schemas:
                          type: object
                          properties:
                            owner:
                              type: array
                              items: 
                                type: object
                                properties:
                                  OWNER: 
                                    type: string
                                    example: HR
                                  OBJECT_TYPE: 
                                    type: string
                                    example: PROCEDURE
                                  OBJECT_COUNT:
                                    type: integer
                                    example: 2
        404:
          description: No objects match the database, owner + object_type combination
        503:
          description: Database connection failure
  /find/{name}:
    get:
      summary: Find objects in multiple databases
      parameters:
        - in: path
          name: name
          description: database object name
          required: true
          schema:
            type: string
            example: dbms_output
      responses:
        200:
          description: Returns a list of objects found in each database
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindResult"
  /api/{db}:
    get:
      summary: List database characteristics
      parameters: 
        - in: path
          name: db
          description: database endpoint
          required: true
          schema:
            type: string
            example: oracle18XE
      responses:
        200:
          description: Returns an array of query results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
        404:
          description: Invalid database           
  /api/{db}/{owner}:
    get:
      summary: Schema object summary
      parameters: 
        - in: path
          name: db
          description: database endpoint
          required: true
          schema:
            type: string
            example: oracle18XE
        - in: path
          name: owner
          description: database schema
          required: true
          schema:
            type: string
            example: WIKI
        - in: query
          name: filter
          description: object_name filter
          required: false
          schema:
            type: string
            example: rnt_*
      responses:
        200:
          description: Returns an array of query results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
        404:
          description: No objects match the database, owner combination     
  /api/{db}/{owner}/{type}: 
    get:
      summary: List database objects
      description: >-
        Retreive a list of database objects for the given db, owner and object_type combination
      parameters: 
        - in: path
          name: db
          description: database endpoint
          required: true
          schema:
            type: string
            example: oracle18XE
        - in: path
          name: owner
          description: database schema
          required: true
          schema:
            type: string
            example: WIKI
        - in: path
          name: type
          description: database object type 
          required: true
          schema:
            type: string
            example: PACKAGE
        - in: query
          name: filter
          description: object_name filter
          required: false
          schema:
            type: string
            example: rnt_*
      responses:
        200:
          description: Returns an array of object names
          content:
            application/json:
              schema:
                example: ["RNT_MENUS_PKG", "RNT_MENU_LINKS_PKG"]
                type: array
                items:
                  type: string
        404:
          description: No objects match the database, owner + object_type combination
        503:
          description: Database connection failure          
          
  /api/{db}/{owner}/{type}/{name}/{status}: 
    get:
      summary: Filtered list of database objects
      description: >-
        Retreive a list of database objects using the following query:
          ```
          select  object_id, object_name, object_type, owner
          from dba_objects
          where  owner = like :owner
          and object_type like :object_type
          and object_name like :object_name ESCAPE \_
          and status like :status
          order by object_name
          ```
      parameters: 
        - in: path
          name: db
          description: database endpoint
          required: true
          schema:
            type: string
            example: oracle18XE
        - in: path
          name: owner
          description: database schema
          required: true
          schema:
            type: string
            example: WIKI
        - in: path
          name: type
          description: database object type 
          required: true
          schema:
            type: string
            example: PACKAGE
        - in: path
          name: name
          description: database object name or wildcard 
          required: true
          schema:
            type: string
            example: RNT*    
        - in: path
          name: status
          description: database object name or wildcard 
          required: true
          schema:
            type: string
            example: VALID
      responses:
        200:
          description: >-
            Returns an array of object names if the owner and type parameters do not
            include wildcard (*) characters. An object is returned for wildcard requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WildCardQueryResult"
        404:
          description: No objects match the database, owner + object_type combination
        503:
          description: Database connection failure
  /api/{db}/{owner}/{type}/{name}: 
    get:
      summary: Database object report
      parameters: 
        - in: path
          name: db
          description: database endpoint
          required: true
          schema:
            type: string
            example: oracle18XE
        - in: path
          name: owner
          description: database schema
          required: true
          schema:
            type: string
            example: WIKI
        - in: path
          name: type
          description: database object type
          required: true
          schema:
            type: string
            example: PACKAGE BODY
        - in: path
          name: name
          description: database object name 
          required: true
          schema:
            type: string
            example: RNT_MENUS_PKG 
      responses:
        200:
          description: Returns an array of query results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
        404:
          description: No objects match the database, owner + object_type combination
        503:
          description: Database connection failure
  /api/collection/{db}:
    post:
      summary: Database object collection
      description: Identify a collection of database objects matching one or more object paterns
      parameters: 
        - in: path
          name: db
          description: database endpoint
          required: true
          schema:
            type: string
            example: oracle18XE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [owner, type, name, status]
                properties:
                  owner: 
                    type: string
                    example: WIKI
                  type:
                    type: string
                    example: '*'
                  name:
                    type: string
                    example: RNT_MENUS*
                  status:
                    type: string
                    example: '*'
                  
      responses:
        200:
          description: List of marching objects and their "uses" dependencies
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    OBJECT_ID:
                      type: integer
                      example: 22733
                    OBJECT_NAME:
                      type: string
                      example: DBMS_STANDARD
                    OBJECT_TYPE:
                      type: string
                      example: PACKAGE
                    OWNER:
                      type: string
                      example: SYS
                    REQUIRED_BY:
                      type: array
                      items:
                        type: object
                        properties:
                          OBJECT_ID:
                            type: integer
                            example: 22783
                          OBJECT_NAME:
                            type: string
                            example: RNT_MENUES_PKG
                          OBJECT_TYPE:
                            type: string
                            example: PACKAGE
                          OWNER:
                            type: string
                            example: WIKI
        404:
          description: Requested database was not found
          
components:
  schemas:
    WildCardQueryResult:
      type: object
      properties:
        owner:
          type: string
        objectTypes:
          type: array
          items:
            type: object
            properties:
              type: 
                type: string
                example: FUNCTION
              count:
                type: integer
                example: 53
              objects:
                example: ["AR_AGING_BUCKETS=", "AR_APP_RULES="]
                type: array
                items:
                  type: string
    FindResult:
      type: object
      properties:
        find:
          type: string
          example: "dbms_output"
        result:
          type: array
          items:
            type: object
            properties:
              object_id:
                type: integer
                example: 20105
              owner:
                type: string
                example: PUBLIC
              object_name:
                type: string
                example: DBMS_OUTPUT
              object_type:
                type: string
                example: SYNONYM
              status:
                type: string
                example: VALID
    QueryResult:
      type: array
      items:
        type: object
        properties:
          title:
            type: string
            example: Object Details
          description:
            type: string
            example: "Database object details"
          display:
            type: array
            items:
              type: string
              example: Object Name
          link:
            type: string
            example: Table
          rows:
            type: array
            items: 
              type: object
              properties:
                name-value: 
                  type: string
                name-value2: 
                  type: string
                    
          