
<mat-grid-list [cols]="breakpoint"  (window:resize)="onResize($event)" rowHeight=420>
  <mat-grid-tile>
    <mat-card appearance="outlined">
      <mat-card-title>Search
      </mat-card-title>
      <form (keydown.enter)="processSearchRequest(searchTerm)">
        <mat-form-field class="search-box" appearance="outline">
          <input [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" matInput
            placeholder="Enter a database object name" #searchBox>
        </mat-form-field>
      </form>
      @if (searchResult) {
        @for (res of searchResult.result; track res) {
          <mat-nav-list>
            @for (object of res.objects; track object) {
              <a mat-list-item
                routerLink="/database/{{res.database}}/{{object.owner}}/{{object.object_type}}/{{object.object_name}}"
                [queryParams]="{filter: object.object_name}">
                {{res.database}}/{{object.owner}}/{{object.object_type}}/{{object.object_name}}
              </a>
            }
            @if (res.objects?.length==0) {
              <p>Not found in {{res.database}}</p>
            }
          </mat-nav-list>
        }
      }


    </mat-card>

    <button mat-icon-button aria-hidden="false" aria-label="cancel icon" (click)="processCancel()">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card appearance="outlined">
      <mat-card-title>Recent History
      </mat-card-title>
      @for (item of history; track item) {
        <mat-nav-list>
          <a mat-list-item routerLink="/database/{{item.endpoint}}/{{item.owner}}/{{item.objectType}}/{{item.objectName}}">
            <!-- [queryParams]="{filter: item.filter}"> -->
          /{{item.endpoint}}/{{item.owner}}/{{item.objectType}}/{{item.objectName}}</a>
        </mat-nav-list>
      }
    </mat-card>


  </mat-grid-tile>
</mat-grid-list>