<mat-form-field>
  <mat-select [(ngModel)]="currentEndpoint" (selectionChange)="setEndpoint($event.value)" placeholder="Database">
    <mat-option *ngFor="let endpoint of endpoints" [value]="endpoint">
      {{endpoint.endpoint}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select [(ngModel)]="currentSchema" (selectionChange)="setSchema($event.value)" placeholder="Schema">
    <mat-option *ngFor="let schema of currentEndpoint.schemas" [value]="schema">
      {{schema.owner}}
    </mat-option>
  </mat-select>
</mat-form-field>

<span *ngIf="currentSchema.owner">

  <mat-form-field >
    <mat-select [(ngModel)]="currentObjectType" (selectionChange)="setObjectType($event.value)" placeholder="Object Type">
      <mat-option *ngFor="let object_type of currentSchema.object_types" [value]="object_type.type">
        {{object_type.type}} ({{object_type.count}})
      </mat-option>
    </mat-select>
  </mat-form-field>
</span>
