 .sql-container {
  padding-top: 16px;
}

mat-form-field {
  margin-right: 8px;
  margin-bottom: 8px;
}

.sql  {
    width: 98%;
    }

  .error {
    color: red;
    font-weight: bold;
  }

  textarea {
      font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    }

  .mat-mdc-table {
    overflow-x: scroll;
  }

  .mat-mdc-cell, .mat-mdc-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }

  .mat-mdc-row,
  .mat-mdc-header-row {
    display: table-row;
  }

  .scrollingRegion {
    overflow: auto;
    white-space: nowrap;
  }