<div class="chat-container">
  @if (isLoading) {
  <div class="loading-indicator">
    <p>Working... {{ counter }} seconds</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  }

  <div class="messages" #messageContainer>
    @for (msg of messages; track msg) {
    <div class="message-row" [class.user-row]="msg.user === 'You'" [class.agent-row]="msg.user === 'Visulate'">
      @if (msg.user === 'Visulate') {
      <div class="avatar-container">
        <img src="favicon.ico" class="avatar-image" alt="Visulate">
      </div>
      }

      <div class="message-bubble" [class.user-bubble]="msg.user === 'You'"
        [class.agent-bubble]="msg.user === 'Visulate'">
        <div class="message-content" markdown>{{ msg.text }}</div>
      </div>

      @if (msg.user === 'You') {
      <div class="avatar-container">
        <mat-icon class="avatar">person</mat-icon>
      </div>
      }
    </div>
    }
  </div>

  <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="chat-input-area">
    <mat-form-field appearance="outline" class="chat-field">
      <mat-label>Ask Visulate...</mat-label>
      <!-- Note: MatButton module and MatIcon module required -->
      <input matInput formControlName="message" placeholder="Type your message">
      <button mat-icon-button matSuffix type="submit" [disabled]="!chatForm.valid || isLoading">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>

    <button mat-icon-button type="button" (click)="downloadMessages()" matTooltip="Download Chat History">
      <mat-icon>download</mat-icon>
    </button>
  </form>
</div>