---
---

@import "{{ site.theme }}";

img {max-width:100%}

.site-header {
  padding: 10px;
  text-align: center;
  background: #159957;
  background-image: linear-gradient(120deg, #159957,  #155799);
  color: white;
  font-size: 30px;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 268px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar h5 {
  margin-block-start: 1em;
  margin-block-end: 0em;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #555;
  opacity: 80%;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #b2b4b3;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 268px;
  padding: 1px 16px;
  max-width: 1000px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}